.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
.login-form input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px; /* Makes the input fields rounded */
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.06); /* Adds a subtle shadow */
}
  
  .login-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #45a049;
  }